---
import FlexGrid from '../layouts/FlexGrid.astro';
import Hero from '../components/Hero.astro';
import Tour from '../components/Tour.astro';
import Testimonial from '../components/Testimonial.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>995</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">

    <style>
        header {
        }
    </style>
</head>
<body>
    <main>
        <header>
            <Hero
                title="995, The only price worth it."
                callToActionLink="/shop"
                callToActionText="Shop now."
            />
        </header>

        <FlexGrid>
            <Testimonial
                name="Levi M"
                role="Team Boomer"
                quote="For $9.95 and an angler grinder, I can provide door
                    opening services."
            />
            <Testimonial
                name="Levi M"
                role="Team Boomer"
                quote="For $9.95 and an angler grinder, I can provide door
                    opening services."
            />
            <Testimonial
                name="Levi M"
                role="Team Boomer"
                quote="For $9.95 and an angler grinder, I can provide door
                    opening services."
            />
        </FlexGrid>
        <Tour />
    </main>
</body>
</html>
