---
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>995 | Shop</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="stylesheet" href="/style/global.css">
</head>

<body>
    <header>
        <Nav />
    </header>

    <main>
        <img class="my-32 mx-auto w-64" src="/assets/logo-square.jpg" alt="995 Logo" />

        <h1 class="my-32 mx-32 text-8xl">Shop in progress, check back in a week for more progress!</h1>
    </main>

    <Footer />
</body>
</html>