<footer class="bg-gray-dark">
    <h1 class="font-semibold text-sm md:text-base">
        A website by
        <a class="text-accent underline" href="https://tomdong.io/">Tommy Dong</a>
    </h1>
</footer>

<style lang="scss">
    footer {
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 768px) {
            height: 48px;
        }
    }
</style>
