<footer class="bg-gray-dark">
    <h1 class="font-semibold text-base">
        A website by
        <a class="text-accent underline" href="https://tomdong.io/">Tommy Dong</a>
    </h1>
</footer>

<style lang="scss">
    footer {
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
