---
export interface Props {
    title: string;
    callToActionLink: string;
    callToActionText: string;
}

const { title, callToActionLink, callToActionText } = Astro.props;
---
<article>
    <div>
        <h1>{title}</h1>
        <a href={callToActionLink}>{callToActionText}</a>
    </div>
</article>

<style lang="scss">
    article {
        padding: 0 0 0 8rem;
        height: calc(100vh - 72px);
        width: 100%;
        background: url('/assets/hero.jpeg') #fff;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    h1 {
        color: #0f0f0f;
        font-size: 96px;
        margin-bottom: 1rem;
        max-width: 512px;
    }

    a {
        color: #ff3f3f;
        font-size: 24px;
    }
</style>