---
import Colored995 from './Colored995.astro';
---
<nav class="bg-gray-dark">
    <div>
        <a
            href="/shop"
            class="mr-16 font-normal text-base text-gray-light underline md:mr-32"
        >Shop</a>
        <a href="/" class="font-bold text-2xl"><Colored995 /></a>
        <a
            href="#"
            class="ml-16 font-normal text-base text-gray-light underline snipcart-checkout md:ml-32"
        >Cart</a>
    </div>
</nav>

<style lang="scss">
    nav {
        height: 72px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>