---
export interface Props {
    name: string;
    quote: string;
    role: string;
}

const { name, quote, role } = Astro.props;
---

<article class="min-w-full lg:min-w-0 lg:max-w-lg">
    <section class="quote p-8">
        <p class="font-semibold text-lg md:text-xl">
            <span>"</span>
            {quote}
            <span>"</span>
        </p>
    </section>

    <section class="author mt-auto mb-0 px-8 py-4">
        <h2 class="font-bold text-lg md:text-2xl">{name}</h2>
        <p class="font-normal text-sm md:text-lg">{role}</p>
    </section>
</article>

<style lang="scss">
    article {
        background: #252525;
        border-radius: 8px;
        overflow: hidden;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .quote {
        color: #fff;
        word-wrap: break-word;
    }

    .author {
        background: #fff;
        color: #000;
    }
</style>