<section class="px-32 py-16">
    <div class="TextContainer__slot-wrapper">
        <slot />
    </div>
</section>

<style lang="scss">
    .TextContainer__slot-wrapper {
        max-width: 1000px;
    }
</style>